.card {
  width: 290px;
  height: 380px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1.5rem;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(n+14) {
    margin-bottom: 5rem;
  }
}

.card__img {
  position: relative;
  border-radius: 5px 5px 0 0;
  height: calc(100% - 80px);
  transition: all 0.4s ease-in;
  background-size: cover;
  background-position: left top;
}

.card__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card__title__text {
  width: 12rem;
  margin: 0;
  color: #242b2d;
  font-family: "Helvetica Neue - bold", serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__title__rating {
  text-align: center;
  width: 30px;
  height: 19px;
  border: 1px solid #49c1f0;
  border-radius: 5px;
}

.card__title__number {
  color: #47c3f0;
  font-family: "Helvetica Neue - Condensed Black", serif;
  font-size: 18px;
  font-weight: 500;
}

.card__description {
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
  height: 80px;
  outline: none;
}

.card__description__genre {
  color: #47c3f0;
  font-family: "Helvetica Neue - bold", serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.88px;
}
