.flexFixedWrap {
  display: flex;
  flex-basis: 27%;
  flex-direction: column;
  justify-content: flex-end;
}

.notation {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  @media (max-width: 767px) {
    align-items: flex-start;
  }
}

.notation__wrap {
  background-color: rgba(0, 0, 0, 0.64);
  height: calc(135px - 0.5rem);
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0.5rem 1rem 0 1rem;
  text-align: justify;
  text-overflow: clip;
  width: calc(270px - 0.5rem * 2);
  font-size: 0.9rem;

  @media (max-width: 768px) {
    font-size: 0.7rem;
    padding: 0;
    width: 100%;
  }
}

.notation__btn {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1.5rem;
}

.notation__text {
  color: #fff;
  font-family: "Helvetica Neue - thin", serif;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue - thin", serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  letter-spacing: 1.3px;
  line-height: 20px;
  outline: none;
  text-align: center;
  width: 8rem;
}

.btn__view {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 1.5rem 0 1.5rem;

  &:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }
}
