.description {
  margin-top: 142px;
}

.description__title {
  width: 608px;
  height: 45px;
  color: #fff;
  font-family: "Helvetica Neue - bold", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.specification__duration {
  color: #fff;
  font-family: "Helvetica Neue - thin", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.96px;
}

.description__specification {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 8px;
}

.specification__genre {
  color: #fff;
  font-family: "Helvetica Neue - thin", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.96px;
  margin-right: 32px;
}

.specification__border {
  height: 18px;
  width: 2px;
  background: #fff;
  margin-top: 15px;
  margin-right: 32px;
}
