.description {
  flex-basis: 70%;
  margin-top: 5rem;
}

.description__title {
  color: #fff;
  font-family: "Helvetica Neue - bold", serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 44px;
  margin: 0;
  text-transform: uppercase;
}

.specification__duration {
  color: #fff;
  font-family: "Helvetica Neue - thin", serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.96px;
  line-height: 44px;
}

.description__specification {
  display: flex;
  flex-direction: row;
}

.specification__genre {
  color: #fff;
  font-family: "Helvetica Neue - thin", serif;
  font-size: 17px;
  letter-spacing: 0.96px;
  line-height: 44px;
  margin-right: 32px;
}

.specification__border {
  background: #fff;
  height: 1rem;
  margin-right: 32px;
  margin-top: 15px;
  width: 2px;
}
