<<<<<<< HEAD
.card__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 124px;
}
=======
.main__wrap {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.main {
  background-color: #f5f6f6;
}
>>>>>>> 080f171dfe9ea42b059f9535986900f42fa450f4
