.main {
  width: 2400px;
  background-color: #f5f6f6;
}

.card__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 124px;
}

.main__wrap {
  padding-top: 71px;
  padding-left: 140px;
  padding-right: 140px;
}
