.main {
  background-color: #f5f6f6;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;

  @media (max-width: 767px) {
    padding: 1rem 1rem 0 1rem;
  }
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noResults__wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.noResults__text {
  color: #0aaee4;
  font-family: "HelveticaNeue", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.12px;
  line-height: 44px;
  margin-bottom: 10rem;
  text-transform: capitalize;
}
