.header {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1024px) {
    height: 580px;
  }

  @media (max-width: 767px) {
    height: 500px;
  }
}

.wrap {
  background-color: #f5f6f6;
  height: 700px;
  width: 100%;
}

.linkLogo {
  text-decoration: none;
}

.logo {
  color: #fff;
  font-family: "HelveticaNeue", serif;
  font-size: 2.5rem;
  letter-spacing: 1.37px;
  line-height: 64.29px;
  margin: 0;
  text-transform: uppercase;
}

.topWrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4rem 0 4rem;
  padding-top: 1rem;

  @media (max-width: 768px) {
    margin: 0 1rem 0 1rem;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.btmWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0  0 2rem  4rem;

  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0  1rem 2rem  1rem;
  }
}

.error {
  composes: error from "../../scss/core.scss";
}
