.wrap {
  min-width: 320px;
  max-width: 2400px;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {
  width: 2400px;
  background-color: #f5f6f6;
}

.main__wrap {
  padding-top: 71px;
  padding-left: 140px;
  padding-right: 140px;
}
