.titleText {
  background-color: transparent;
  border: none;
  color: #0aaee4;
  cursor: pointer;
  font-family: "HelveticaNeue", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.12px;
  line-height: 44px;
  outline: none;
  padding: 0 10px;
  text-decoration: none;
  text-transform: capitalize;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    text-shadow: 0 0 10px rgba(10, 174, 228, 1);
  }

  &:nth-child(4) {
    margin-right: 12px;
  }

  &.active {
    border-bottom: 2px solid #0aaee4;
  }

  @media (max-width: 425px) {
    padding: 5px 5px 0 5px;
    font-size: 0.8rem;
    line-height: 20px;
    width: 100%;
  }
}
