.search {
  position: relative;
}

.text {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "HelveticaNeue-thin", serif;
  font-size: 1rem;
  height: 2.2rem;
  letter-spacing: 1px;
  outline: none;
  padding: 0 28px 2px 1rem;
  vertical-align: middle;
  width: 18rem;

  &::placeholder {
    color: #fff;
    opacity: 1;
  }
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.2s ease;

  &:hover {
    height: 1.2rem;
    right: 9px;
    top: 9px;
    width: 1.2rem;
  }
}
