.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 263px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.footer__title {
  margin-top: 75px;
  color: #0aaee4;
  font-family: "Helvetica Neue", serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.footer__copyright {
  margin-top: 75px;
  opacity: 0.4;
  color: #242b2d;
  font-family: "Helvetica Neue", serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
