/**
 * Основные стили
 **/

html {
  color: #fff;
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", serif;
  margin: 0;
}

.wrap {
  @include min-max(320px,1366px, 0);
}

.error {
  align-items: center;
  display: flex;
  justify-content: center;

  span {
    color: #e40001;
  }
}
