@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  font-style: normal;
  font-weight: normal;
  src:
  url('../assets/fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.eot'),
  url('../assets/fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.woff') format('woff'),
  url('../assets/fonts/HelveticaNeue-CondensedBlack/HelveticaNeue-CondensedBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src:
  url('../assets/fonts/HelveticaNeue Condensed-Regular/HelveticaNeue-CondensedRegular.eot'),
  url('../assets/fonts/HelveticaNeue Condensed-Regular/HelveticaNeue-CondensedRegular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeue Condensed-Regular/HelveticaNeue-CondensedRegular.woff') format('woff'),
  url('../assets/fonts/HelveticaNeue Condensed-Regular/HelveticaNeue-CondensedRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-bold';
  font-style: normal;
  font-weight: normal;
  src:
  url('../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot'),
  url('../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
  url('../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-thin';
  font-style: normal;
  font-weight: normal;
  src:
  url('../assets/fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot'),
  url('../assets/fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.woff') format('woff'),
  url('../assets/fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.ttf') format('truetype');
}
