@mixin clearfix() {
  &::before,
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin min-max($min-width, $max-width, $padding) {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  padding: 0 $padding;
}
