.nav {
  border-bottom: 1px solid rgba(36, 43, 45, 0.1);
  margin-bottom: 2rem;
}

.nav__title {
  display: flex;
  flex-direction: row;

  .nav__title__text {
    padding: 0 10px;
    text-transform: capitalize;
    font-family: "Helvetica Neue", serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1.12px;
    color: #0aaee4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      text-shadow: 0 0 10px rgba(10, 174, 228, 1);
    }

    &:nth-child(4) {
      margin-right: 12px;
    }
  }
}

.nav__title__arrow {
  padding: 0 10px;
  margin: 0;
  display: block;
  text-transform: capitalize;
  font-family: "Helvetica Neue", serif;
  font-size: 1rem;
  letter-spacing: 1.12px;
  font-weight: 600;
  line-height: 44px;
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
  color: #0aaee4;

  &:hover {
    text-shadow: 0 0 10px rgba(10, 174, 228, 1);
  }
}

.nav__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__format {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.format__box4 {
  display: flex;
  flex-wrap: wrap;
  width: 20px;
  height: 16px;
  margin-right: 4px;
}

.box4 {
  border-radius: 2px;
  width: 8px;
  height: 7px;
  background-color: #3bb4e0;
  opacity: 0.8;
  margin-bottom: 2px;
  margin-right: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.box2 {
  width: 17px;
  height: 7px;
  background-color: #242b2d;
  opacity: 0.15;
  border-radius: 2px;

  &:last-child {
    margin-top: 2px;
  }
}
