.nav {
  border-bottom: 1px solid rgba(36, 43, 45, 0.1);
  margin-bottom: 2rem;
}

.nav__title {
  display: flex;
  flex-direction: row;
}

.nav__title__arrow {
  background: transparent;
  border: none;
  color: #0aaee4;
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.12px;
  line-height: 44px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  width: 110px;

  &:hover {
    text-shadow: 0 0 10px rgba(10, 174, 228, 1);
  }
}

.nav__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__format {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.format__box4 {
  display: flex;
  flex-wrap: wrap;
  height: 16px;
  margin-right: 4px;
  width: 20px;
}

.box4 {
  background-color: #3bb4e0;
  border-radius: 2px;
  height: 7px;
  margin-bottom: 2px;
  margin-right: 2px;
  opacity: 0.8;
  width: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.box2 {
  background-color: #242b2d;
  border-radius: 2px;
  height: 7px;
  opacity: 0.15;
  width: 17px;

  &:last-child {
    margin-top: 2px;
  }
}
